/* Start Global Rules */
:root{
    --main-color:#12CAB8;
    --secondary-color: #2c4755;
}
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body{
    font-family: "Work Sans", sans-serif;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
  /* Small */
@media (min-width: 768px) {
    .container {
    width: 750px;
    }
}
  /* Medium */
@media (min-width: 992px) {
    .container {
    width: 970px;
    }
}
  /* Large */
@media (min-width: 1200px) {
    .container {
    width: 1170px;
    }
}
/* End Global Rules */
/* ----------------------------------------------------------------------------------------- */
/* start component */
.special-header{
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}
.special-header + p{
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}
@media (max-width:767px){
    .special-header{
        font-size: 60px;
    }
    .special-header + p{
        margin-top: -20px;
    }
}
/* end component */
/* ----------------------------------------------------------------------------------------- */
/* start header */
header{
    padding: 20px;
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    width: 60px;
}
header .links{
    position: relative;
}
header .links .icon{
    width: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}
header .links .icon:hover span:nth-child(2){
    width: 100%;
}
header .links .icon span{
    width: 100%;
    height: 2px;
    background-color: #333;
    margin-bottom: 5px;
}
header .links .icon span:nth-child(2){
    width: 60%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
header .links ul{
    list-style: none;
    background-color: #f6f6f6;
    min-width: 200px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 26px;
    right: 0;
    transition:all 2s;
    display: none;
    z-index: 1;
    -webkit-transition:all 2s;
    -moz-transition:all 2s;
    -ms-transition:all 2s;
    -o-transition:all 2s;
}
header .links:hover  ul{
    display: block;
}
header .links ul::after{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color:transparent transparent  #f6f6f6 transparent;
    position: absolute;
    top: -20px;
    right: 5px;
}
header .links ul li:not(:last-child) a{
    border-bottom: solid #ddd 2px;
}

header .links ul li a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
header .links ul li a:hover{
    padding-left: 25px;
}
/* end header */
/* ----------------------------------------------------------------------------------------- */
/* start landing section */
.landing{
    background-image: url("../imgs/download.jpg");
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}
.landing .intro-text{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    width: 85%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.landing .intro-text h1{
    margin: 0;
    color:var(--main-color);
    font-size: 45px;
    font-weight: bold;
}
.landing .intro-text p{
    font-weight: 19px;

}
/* end landing section */
/* ----------------------------------------------------------------------------------------- */
/* start features section  */
.features{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-gap: 20px;
}
.features .container .feat{
    text-align: center;
    padding: 20px;
}
.features .container .feat i{
    color: var(--main-color);
}
.features .container .feat h3{
    font-weight: 800;
    margin: 30px 0;
}
.features .container .feat p{
    color: #777;
    line-height: 1.8;
}
/* end features section  */
/* ----------------------------------------------------------------------------------------- */
/* start services */
.services{
    padding-top: 60px;
    padding-bottom: 60px;
}
.services .services-content{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 100px;
}
.services .services-content .col .srv{
    display: flex;
    margin-bottom: 40px;
}
@media (max-width:767px){
    .services .services-content .col .srv{
        flex-direction: column;
        text-align: center;
    }
}
.services .services-content .col .srv i{
    color: var(--main-color);
    flex-basis: 60px;
}
.services .services-content .col .srv .text{
    flex: 1;
    min-height: 190px;
}
.services .services-content .col .srv .text h3{
    margin:0 0 20px
}
.services .services-content .col .srv .text p{
    color:#333;
    font-weight: 300;
    line-height: 1.8;
}
.services .services-content .col .image{
    text-align: center;
    position: relative;
}
.services .services-content .col .image img{
    width: 260px;
    /* height: 480px; */
}
.services .services-content .col .image::before{
    content: "";
    position: absolute;
    background-color: var(--secondary-color);
    width: 140px;
    height: calc(100% + 100px);
    top: -50px;
    right: -20px;
    z-index: -1;
}
@media (max-width: 1199px){
    .image-column{
    display: none;
    }
}

/* end services */
/* ----------------------------------------------------------------------------------------- */

